/* Medical Records Container */
.medical-records-container {  
  background-color: #faf2e4;
  color: #fff;
  padding: 50px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  min-height: 115vh;
  border-radius: 15px;
}

/* Header Section */
.header {
  margin-bottom: 20px;
}

.header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #0056b3;
}

/* Main Heading */
h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.action-buttons button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #218838;
}

/* Form Container */
.form-container {
  max-width: 50%;
  align-content: left;
  background-color: white!important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 20px; */
}

/* Form Title */
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color:darkblue !important;
  margin-bottom: 10px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: darkslategray;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
}

/* Table Styles */
.table {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.table td {
  background-color: #fff;
}

/* Table Button Styles */
.table button {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.table button.btn-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
}

.table button.btn-info:hover {
  background-color: #117a8b;
}

.table button.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.table button.btn-danger:hover {
  background-color: #bd2130;
}

.get-record-button{ 
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.get-doc-button{ 
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin-left: 50px;
}

.get-doc-container{
  margin-left: 7%;
  align-content: center;
  margin-top: 15px;
  max-width: 85%;
}

.fetch-file-button{
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}